@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 30rem;
  margin: 5rem auto;
}

/* následující dva styly by asi také měly být v Joke, ale hází mi tam stále nějakou chybu, tak zůstali tady */
.btn-like--up {
  background-color: #00e268;
  background-image: url('img/like-up.png');
}

.btn-like--down {
  background-color: #ff5654;
  background-image: url('img/like-down.png');
}
